@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,577;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    font-size: 75%;
    scroll-behavior: smooth;
}
body {
    letter-spacing: 1px;
    height: 100%;
    margin: 0;
    font-family: "Playfair Display";
    background-color: white;
    background-image: url("assets/gray-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$base-color: #efc21c;
.logo-img {
    width: 155px;
    height: 110px;
}

.services-item {
    text-align: center;
    img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
    h2 {
        color: white;
        margin-bottom: 15px;
        font-size: 19px;
        text-transform: uppercase;
    }
    p {
        color: white;
        margin-top: 15px;
        font-size: 13px;
    }
}
.services-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-dialog {
    top: 30%;
}

.modal-title {
    font-size: 2rem;
}

.close {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.modal-body {
    font-size: 1.5rem;
}

.modal-footer {
    .btn {
        color: black;
        background-color: $base-color;
        font-size: 1.3rem;
        border: none;
        a{
            text-decoration: none;
            color: black;
        }
    }
}

.underline {
    height: 4px;
    background-color: $base-color;
    width: 40px;
    margin: 0 auto;
}
.quotes-bg {
    background-image: url("assets/bg-wood.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-links {
    display: flex;
    align-items: center;
    a {
        color: lightgrey;
        font-size: 17px;
        text-decoration: none;
    }
}

.navbar-container {
    background: rgba(0, 0, 0, 0.7);
    justify-content: space-around;
    z-index: 9;
}
.active a {
    color: $base-color;
}
.active {
    color: $base-color;
}
.container-100vh {
    height: 100vh;
    background-image: url("assets/bg-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.owl-stage {
    padding-top: 2rem;
}
.dark-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.jumbo-text-container {
    h1 {
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, 0);
        color: white;
        font-size: 60px;
        z-index: 3;
        font-family: "Playfair Display";
        text-align: center;
        width: 100%;
    }
    p {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 0);
        color: white;
        font-size: 16px;
        text-decoration: none;
        z-index: 3;
        font-family: "Playfair Display";
        font-weight: 500;
        text-shadow: black 0px 0px 5px;
    }
}
.jumbo-button-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    width: 100%;
    text-align: center;
    a {
        &:hover {
            background: transparent;
            color: $base-color;
            text-shadow: none;
            transition: 0.5s;
        }
        transition: 0.5s;
        color: white;
        font-size: 32px;
        text-decoration: none;
        background-color: $base-color;
        padding-top: 10px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 50px;
        text-shadow: gray 0px 0px 7px;
    }
}
.img-clau {
    width: 100%;
    height: auto;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $base-color;
    color: black;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    transition: 0.5s;
}
#myBtn:hover {
    background-color: transparent;
    color: $base-color;
    transition: 0.5s;
}
.navbar-container {
    position: fixed;
    z-index: 6;
}
.nav-links li a {
    &:hover {
        color: $base-color;
        transition: 0.5s;
    }
}
.order-now {
    margin-top: 150px;
}
.about-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
    margin-bottom: 50px;
}
.chef-title {
    font-family: "Playfair Display";
    color: white;
    font-size: 48px;
    letter-spacing: 7.2px;
    margin-bottom: 20px;
}
.chef-description {
    font-family: "Roboto";
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.award {
    color: $base-color;
}
.chef-text {
    align-self: center;
    display: flex;
    flex-direction: column;
}
.owl-carousel {
    width: 80%;
    margin: 0 auto;
}
.owl-nav .owl-prev {
    color: white !important;
    font-size: 60px !important;
    background: none !important;
    margin-right: 190px !important;
}
.owl-nav .owl-next {
    color: white !important;
    font-size: 60px !important;
    background: none !important;
}
.item-carousel-text {
    text-align: center;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 30px;
}
.carousel-title {
    color: black;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 12px;
}
.carousel-price {
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}
.carousel-slider-header {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 8rem;
    font-family: "Playfair Display";
}
.mustard {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
}
.mustard-about {
    display: flex;
    height: 100%;
    width: 25%;
    position: relative;
    left: 0;
    margin-bottom: 30px;
}
.orders {
    color: white;
    text-align: center;
    font-size: 40px;
}
.orders-phone {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 80px;
    margin: 0 auto;
    display: block;
    a {
        text-decoration: none;
        color: white;
    }
}
.menu {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
}
.menu-item {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 30px;
}

.jumbo-button-container .order-now {
    margin-top: 0;
}

.menu-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
        color: lightgray;
    }
}
.price {
    color: $base-color;
}
.menu-item .menu-img-wrapper img {
    margin-right: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.footer-adress-container {
    img {
        width: 135px;
        height: 115px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    p {
        font-size: 15px;
        color: lightgray;
    }
    text-align: center;
}
.footer-wrapper {
    justify-content: space-evenly;
    color: white;
    margin-bottom: 30px;
}
.footer-text {
    margin-top: 40px;
    h2 {
        font-size: 24px;
        font-family: "Playfair Display";
        font-weight: bold;
        margin-bottom: 20px;
    }
    p {
        font-size: 13px;
        font-family: "Playfair Display";
        color: lightgray;
    }
    h2,
    p {
        text-align: center;
        padding-left: 30px;
        max-width: 320px;
    }
}
.footer-hours {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    h2 {
        font-size: 24px;
        font-weight: bold;
        font-family: "Playfair Display";
        margin-bottom: 20px !important;
    }
    p {
        font-size: 15px;
        font-family: "Playfair Display";
        color: lightgray;
    }
    h2,
    p {
        margin: 0 auto;
    }
}
.bold {
    font-weight: bold;
}
.days p {
    font-weight: bold;
}
.hours-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.vl {
    border-left: 1px solid $base-color;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
}
.vl-wrapper {
    position: relative;
}
.catalin {
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 1rem;
}
iframe {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 3rem;
}
.leFadeIn span {
    animation-name: leFadeIn
}
@keyframes leFadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.leFadeInBottom span {
    animation-name: leFadeInBottom
}
@keyframes leFadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1
    }
}
.fas.fa-star.fa-2x {
    font-size: 1em;
}
.container-hamburger {
    display: none;
    cursor: pointer;
    margin-top: 20px;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: $base-color;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.gallery-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}
.gallery-wrapper .row .gallery-img img {
    margin-bottom: 20px;
    border: 10px solid transparent;
    padding: 5px;
    border-image: url("assets/woody.jpg") 30 round;
    height: auto !important;
    width: 100% !important;
}
.gallery-wrapper .row a {
    display: inline-block;
}
@media (min-width: 1300px) {
    .gallery-wrapper .row .gallery-img img {
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 1299px) {
    .gallery-wrapper .row .gallery-img img {
        height: 200px;
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (min-width: 1700px) {
    .gallery-wrapper .row .gallery-img img {
        height: 400px;
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 992px) {
    .about-wrapper {
        margin: 70px;
    }
}
@media (max-width: 768px) {
    .gallery-wrapper .row .gallery-img img {
        margin-bottom: 20px;
        border: 5px solid transparent;
        padding: 5px;
        border-image: url("assets/woody.jpg") 30 round;
        height: auto !important;
        width: 100% !important;
    }
    .gallery-wrapper .row .gallery-img img {
        height: 150px;
        width: 100%;
        margin-bottom: 20px;
    }
    .chef-text {
        text-align: center;
    }
    .mustard-about {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .footer-text p {
        font-size: 10px;
    }
    .footer-text h2 {
        font-size: 21px;
    }
    .footer-hours h2 {
        font-size: 21px;
    }
    .footer-hours p {
        font-size: 13px;
    }
    .footer-adress-container img {
        width: 115px;
        height: 95px;
    }
    .jumbo-text-container h1 {
        font-size: 40px;
    }
    .jumbo-text-container p {
        font-size: 14px;
    }
    .jumbo-button-container a {
        font-size: 24px;
    }
    .logo-img {
        width: 120px;
        height: 90px;
    }
}
@media (max-width: 576px) {
    .footer-text p {
        font-size: 12px;
    }
    .footer-text h2 {
        font-size: 18px;
    }
    .footer-hours h2 {
        font-size: 18px;
    }
    .footer-hours p {
        font-size: 12px;
    }
    .footer-adress-container img {
        width: 95px;
        height: 75px;
    }
    .vl-wrapper {
        display: none;
    }
    .footer-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-text h2,
    .footer-text p {
        padding-left: 0;
    }
    .footer-adress-container {
        margin-top: 30px;
    }
    .jumbo-text-container h1 {
        font-size: 30px;
    }
    .jumbo-text-container p {
        font-size: 13px;
        top: 37%;
    }
    .jumbo-button-container a {
        font-size: 20px;
    }
    .nav-links {
        display: none;
    }
    .container-hamburger {
        display: inline-block;
    }
    .logo-img {
        width: 110px;
        height: 80px;
    }
    .about-wrapper {
        margin: 20px;
    }
    .carousel-slider-header {
        font-size: 30px;
    }
    .chef-title {
        font-size: 38px;
    }
    .orders {
        font-size: 30px;
    }
    .services-item h2 {
        font-size: 15px;
    }
    .services-item p {
        font-size: 11px;
    }
    .menu-item .menu-img-wrapper img {
        margin-right: 20px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}
@media(max-width: 440px) {}
@media (max-width: 360px) {
    .logo-img {
        width: 100px;
        height: 70px;
    }
}
.mustard {
    margin-top: 2rem;
    margin-bottom: 22px;
}

  *:focus {
    outline: none !important;
  }

  .word-break {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}